/* 2.3.6 Para agregar weight a todas ls fuentes ganandole a las clases definidas en el punto 3 deberia
agregar el pseudo elemento html::after { font-weight: bold } */

/* 2.3.7 Usando !important puedo sobreescribir el estilo definido inline*/

html {
    font-size: 14px;
    font-family: Courier New, Courier, monospace;
}

#container {
        margin-left:auto;
        margin-right:auto;
        width:960px;
        border-radius: 20px;
        padding: 5px;
        box-sizing: border-box;
    }

header {
    background-color: slategrey;
    text-align: center;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

nav {
    background-color: slategrey;
    height: 400px;
    margin: 10px 5px 5px;
    border-radius: 20px;
    text-align: center;
    float: left;
    width: 230px;
}

section {
    height: 400px;
    margin: 10px 5px 5px;
    border-radius: 20px;
    text-align: center;
    float: left;
    width: 460px;
}

article {
    height: 100px;
}

aside {
    background-color: slategrey;
    height: 400px;
    margin: 10px 5px 5px;
    border-radius: 20px;
    text-align: center;
    float: left;
    width: 230px;
}

footer {
    background-color: slategrey;
    text-align: center;
    height: 100px;
    text-align: center;
    margin: 10px 5px 5px 5px;
    border-radius: 20px;
    clear: both;
}

/* Definiciones de las clases */

.header h1{
    font-size: 46px;
}

.header[class$="r"]{
    background-color: magenta;
}

.header[class*="a"]:not([class$="r"]){
    background-color: blue;
}

.navigation h1{
    font-size: 12px;
}

.navigation[class$="r"]{
    background-color: magenta;
}

.navigation[class*="a"]:not([class$="r"]){
    background-color: blue;
}

.content h1{
    font-size: 14px;
}

.content[class$="r"]{
    background-color: magenta;
}

.content[class*="a"]:not([class$="r"]){
    background-color: blue;
}

.sidebar h1{
    font-size: 10px;
}

.sidebar[class$="r"]{
    background-color: magenta;
}

.sidebar[class*="a"]:not([class$="r"]){
    background-color: blue;
}

.footer h1{
    font-size: 10px;
}

.footer[class$="r"]{
    background-color: magenta;
}

.footer[class*="a"]:not([class$="r"]){
    background-color: blue;
}